# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# dotenv
/.env

# layer
/layers/imageMagick/*
!/layers/imageMagick/.keep

# secrets
/secrets.yml

# dynamodb-local
/.dynamodb

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
terraform.log
terraform.tfvars

# eslint
/.eslintcache

# circle-env
.circle-env/circle-token
.circle-env/.env

/tmp/*
!/tmp/lgtms
/tmp/lgtms/*
!/tmp/lgtms/.keep
